<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Clanske kartice</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="treninzi">Treninzi</a></li>     	   
	 		<li><a href="korisnici">Korisnici</a></li>    
	 		<li><a href="komentari">Komentari</a></li> 
	 		<li><a href="shoppingCarts">Shopping Carts</a></li> 
	 	</ul>     
	 		<table>     
	 			<caption>Clanske kartice</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th>Popust</th>     
	 				<th>broj poena</th>     
	 				<th></th>    
	 			</tr>
	 			<tr>
					<th></th>
					<th><input type="search" name="popust" th:value="${param.popust?: null}"/></th>
					<th><input type="search" name="brojPoena" th:value="${param.brojPoena?: null}"/></th>
					<th><input type="submit" value="Pretrazi"/></th>
				</tr>
	 			<tr th:each="itClanskaKartica, status: ${clanskeKartice}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td> 
	 				<td><a th:href="|clanskeKartice/Details?id=${itClanskaKartica.id}|" th:text="${itClanskaKartica.popust}">popust</a></td>  
	 			  
	 				<td th:text="${itClanskaKartica.brojPoena}"></td> 
	 				<td>    
	 					<form method="post" action="clanskeKartice/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itClanskaKartica.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 <ul>
			<li><a href="clanskeKartice/create">dodavanje clanske kartice</a></li>
		</ul>
	 </body>   
 </html>