<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Clanska Kartica</title>
</head>
<body>
	<ul>    
 		<li><a href="treninzi">Treninzi</a></li>    
 		<li><a href="tipoviTreninga">Tipovi treninga</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>    
 		<li><a href="komentari">Komentari</a></li>
 	</ul>  
	<form method="post" action="clanskeKartice/edit">
		<input type="hidden" name="id" th:value="${clanskaKartica.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Clanska kartica</caption>
			<tr><th>Popust:</th><td><input type="text" th:value="${clanskaKartica.popust}" name="popust"/></td></tr>
			<tr><th>Broj poena:</th><td><input type="number" th:value="${clanskaKartica.brojPoena}" name="brojPoena"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="clanskeKartice/delete">
		<input type="hidden" name="id" th:value="${clanskaKartica.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
</body>
</html>