<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Komentar</title>
</head>
<body>
	<ul>    
 		<li><a href="treninzi">Treninzi</a></li>    
 		<li><a href="tipoviTreninga">Tipovi treninga</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>    
 	</ul>  
	<form method="post" action="komentari/edit">
		<input type="hidden" name="id" th:value="${komentar.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Komentar</caption>
			<tr><th>Tekst komentara:</th><td><input type="text" th:value="${komentar.tekstKomentara}" name="tekstKomentara"/></td></tr>
			<tr><th>Ocena:</th><td><input type="number" th:value="${komentar.ocena}" name="ocena"/></td></tr>
			<tr><th>Datum:</th><td><input type="text" th:value="${komentar.datum}" name="datum"/></td></tr>
			<tr><th>Korisnik:</th><td><input type="text" th:value="${komentar.korisnik}" name="korisnik"/></td></tr>
			<tr><th>Trening:</th><td><input type="text" th:value="${komentar.trening}" name="trening"/></td></tr>
			<tr><th>Status:</th><td><input type="text" th:value="${komentar.status}" name="status"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="komentari/delete">
		<input type="hidden" name="id" th:value="${komentar.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
</body>
</html>