<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Komentari</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="treninzi">Treninzi</a></li>     
	 		<li><a href="tipoviTreninga">Tipovi treninga</a></li>     
	 		<li><a href="korisnici">Korisnici</a></li>     
	 		<li><a href="clanskeKartice">Clanske kartice</a></li>
	 	</ul>     
	 		<table>     
	 			<caption>Komentari</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th>Tekst</th>     
	 				<th>Ocena</th>
	 				<th>Datum</th>     
	 				<th>Korisnik</th>   
	 				<th>Trening</th>     
	 				<th>Status</th>
	 				<th>Anoniman</th>    
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itKomentar, status: ${komentari}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>   
	 				<td th:text="${itKomentar.tekstKomentara}"></td>    
	 				<td th:text="${itKomentar.ocena}"></td> 
	 				<td th:text="${itKomentar.datum}"></td>    
	 				<td th:text="${itKomentar.korisnik.korisnickoIme}"></td> 
	 				<td th:text="${itKomentar.trening.naziv}"></td>    
	 				<td th:text="${itKomentar.status}"></td> 
	 				<td th:text="${itKomentar.anoniman}"></td> 
	 				<td>    
	 					<form method="post" action="komentari/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itKomentar.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 <ul>
			<li><a href="komentari/create">dodavanje komentara</a></li>
		</ul>
	 </body>   
 </html>