<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Shopping cart</title>
</head>
<body>
	<ul>    
 		<li><a href="treninzi">Treninzi</a></li>    
 		<li><a href="tipoviTreninga">Tipovi treninga</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>    
 		<li><a href="komentari">Komentari</a></li>
 		<li><a href="clanskeKartice">clanska kartica</a></li>
 	</ul>  
	<form method="post" action="shoppingCart/edit">
		<input type="hidden" name="id" th:value="${shoppingCart.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Shopping cart</caption>
			<tr><th>Naziv treninga:</th><td><input type="text" th:value="${shoppingCart.nazivTreninga}" name="nazivTreninga"/></td></tr>
			<tr><th>Trener:</th><td><input type="text" th:value="${shoppingCart.trener}" name="trener"/></td></tr>
			<tr><th>Tip treninga:</th><td><input type="text" th:value="${shoppingCart.tipTreninga}" name="tipTreninga"/></td></tr>
			<tr><th>Datum i vreme:</th><td><input type="text" th:value="${shoppingCart.datumVreme}" name="datumVreme"/></td></tr>
			<tr><th>Cena:</th><td><input type="text" th:value="${shoppingCart.cena}" name="cena"/></td></tr>
			<tr><th>Korisnik:</th><td><input type="text" th:value="${shoppingCart.korisnik}" name="korisnik"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="shoppingCart/delete">
		<input type="hidden" name="id" th:value="${shoppingCart.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
</body>
</html>