<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Shopping carts</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="treninzi">Treninzi</a></li>     
	 		<li><a href="tipoviTreninga">Tipovi treninga</a></li>     
	 		<li><a href="korisnici">Korisnici</a></li>     
	 		<li><a href="clanskeKartice">Clanske kartice</a></li>
	 	</ul>     
	 		<table>     
	 			<caption>Shopping Carts</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th>Naziv treninga</th>     
	 				<th>Trener</th>
	 				<th>Tip treninga</th>     
	 				<th>Datum i vreme</th>   
	 				<th>Cena</th>     
	 				<th>Korisnik</th>    
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itShoppingCart, status: ${shoppingCarts}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>   
	 				<td th:text="${itShoppingCart.nazivTreninga}"></td>    
	 				<td th:text="${itShoppingCart.trener}"></td> 
	 				<td th:text="${itShoppingCart.tipTreninga.ime}"></td>    
	 				<td th:text="${itShoppingCart.datumVreme}"></td> 
	 				<td th:text="${itShoppingCart.cena}"></td>    
	 				<td th:text="${itShoppingCart.korisnik.korisnickoIme}"></td> 
	 				<td>    
	 					<form method="post" action="shoppingCarts/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itShoppingCart.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 <ul>
			<li><a href="shoppingCarts/create">add shopping cart</a></li>
		</ul>
	 </body>   
 </html>