<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Tipovi Treninga</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="treninzi">Treninzi</a></li>     	   
	 		<li><a href="korisnici">Korisnici</a></li>    
	 		<li><a href="komentari">Komentari</a></li> 
	 		<li><a href="clanskeKartice">clanska kartica</a></li>
	 	</ul>     
	 		<table>     
	 			<caption>Tipovi treninga</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th>Ime</th>     
	 				<th>Opis</th>     
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itTipTreninga, status: ${tipoviTreninga}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>   
	 				<td th:text="${itTipTreninga.ime}"></td>    
	 				<td th:text="${itTipTreninga.opis}"></td> 
	 				<td>    
	 					<form method="post" action="tipoviTreninga/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itTipTreninga.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 <ul>
			<li><a href="tipoviTreninga/create">dodavanje tipa treninga</a></li>
		</ul>
	 </body>   
 </html>