<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Tip treninga</title>
</head>
<body>
	<ul>    
 		<li><a href="treninzi">Treninzi</a></li>    
 		<li><a href="tipoviTreninga">Tipovi treninga</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>    
 		<li><a href="dodavanjeKomentara">Dodajte komentar</a></li>
 	</ul>  
	<form method="post" action="tipoviTreninga/edit">
		<input type="hidden" name="id" th:value="${tipTreninga.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Tip treninga</caption>
			<tr><th>Ime:</th><td><input type="text" th:value="${tipTreninga.ime}" name="ime"/></td></tr>
			<tr><th>Opis:</th><td><input type="text" th:value="${tipTreninga.opis}" name="opis"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="tipoviTreninga/delete">
		<input type="hidden" name="id" th:value="${tipTreninga.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
</body>
</html>